* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: gray 0 0 2px;
}

header {
  background-image: url("../images/slider.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 25%;
}

nav {
  background-color: orangered;
  color: white;
  text-align: center;
}

/* nav ul {
  display: inline-block;
} */

nav > ul > li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-variant: small-caps;
  margin: 0 10px;
}

nav > ul > li:hover {
  cursor: pointer;
  box-shadow: 0 0 2px black;
  background-color: rgb(245, 72, 9);
  transition: all 0.5s;
}

nav > ul > li:hover .menu-sub {
  display: block;
}

.menu-sub {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  box-shadow: 0 0 2px gray;
}

.menu-sub::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  padding: 12px 0;
  transform: translateY(-50%);
  background-color: transparent;
}

.menu-sub li {
  list-style: none;
  padding: 10px 110px 10px 10px;
}

.menu-sub li:hover {
  background-color: orangered;
  transition: all 0.3s;
}

.menu-sub li:hover a {
  color: white;
  transition: all 0.3s;
}

.menu-sub li a {
  color: orangered;
  margin: 0;
  text-align: left;
}

article {
  width: 70%;
  min-height: 400px;
  float: left;
  background-color: #fff;
}

aside {
  float: right;
  width: 30%;
  min-height: 400px;
  background-color: #fff;
}

/* aside ul {
  margin-left: 20px;
} */

aside ul {
  box-shadow: 0 0 1px gray;
  margin: 10px;
  max-width: 300px;
}

aside li {
  border-bottom: 1px dotted orangered;
  list-style: none;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}

aside li a {
  color: orangered;
  text-decoration: none;
  font-size: larger;
  font-variant: small-caps;
}

aside li span {
  color: orangered;
  margin-right: 10px;
}

aside li:hover {
  background-color: orangered;
  border-bottom: 1px dotted whites;
  transition: all 0.5s;
  cursor: pointer;
}

aside li:hover a {
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}

aside li:hover span {
  color: white;
  transition: all 0.5s;
}

footer {
  clear: both;
  background-color: rgb(173, 255, 255);
  border-top: double 5px orangered;
  text-align: center;
  font-variant: small-caps;
  line-height: 50px;
}

iframe[name="page"] {
  width: 100%;
  min-height: 400px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
